@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <br />
    <h1 style="color:purple" class="display-4"><strong> Yazılım Geliştirme E-online   </strong>    </h1>
    <br />
    <br />
    <p>
        <img src="~/img/resm.jpg" style="border-left-width:10px;">
    </p>

 </div>
