    @{
        ViewData["Title"] = "iletişim bilgileri";
    }
    <div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p> iletişim bilgileri:</p>
    <br />
    <p >ıhlamur sokak menekşse ap istanbul bahçelievler</p>
    <p>e-posta: </p>
        <
    <a href="mailoto:yta.iletisim@gmail.com">e-posta gönder</a>
    </div>